@import url(https://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);
body {
    background: #3E5E69;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 100px;
    width: 70%; 
    height: 500px;
    background-color: #508799;
    border-radius: 10px;
    padding: 10px;
}

#content {
    color: #D3DFE3;
    font-family: 'IM Fell English', serif;
    flex: 1;
    text-align: right;
    padding-right: 20px;
    padding-top: 165px;
}

#contact {
    font-weight: lighter;
    color: #D3DFE3;
    flex: 1;
    text-align: left;
    padding-left: 20px;
    padding-top: 200px;
}

.vertical-line {
    border-left: 2px solid black;
    margin-top: 90px;
    height: 50%;
}

.subscribe-section {
    width: 100%;
    margin: 0 auto;
    height: 61px;
    text-align: center;
    padding-bottom: 20px;
}

.subscribe-section p {
    font-family: 'IM Fell English', serif;
    margin-top: 0;
    font-size: 24px;
    color: #D3DFE3;
}

.subscribe {
    width: 743px;
    margin: 0 auto;
}

.field {
    margin-left: 100px;
    width: 423px;
    height: 61px;
    float: left;
    border: 0;
    padding: 0 auto;
    font-size: 26px;
    color: #8598bb;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.submit {
    width: 150px;
    height: 63px;
    float: left;
    border: none;
    font-size: 20px;
    background-color: green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #D3DFE3;
    cursor: pointer;
}

.submit:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}